
#root {
    display: flex;
    position: static;
    width: 100%;
    height: 100%;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.bg {
    display: none;
    width: 100%;
    height: 100%;
    background: radial-gradient(yellow 10%, transparent 70%);
    opacity: var(--opacity);
    position: absolute;
}

.Game {
    width: 1000px;
    height: 900px;
    position: relative;
}


.img {
    width: 100%;
    position: absolute;
}

:root {
    --brightness: 100%;
    --saturate: 100%;
    --hue: 0;
    --opacity: 100%;
    --opacity-filter: 100%;
}

.light {
    -webkit-filter: brightness(var(--brightness)) saturate(var(--saturate)) hue-rotate(var(--hue)) grayscale(0%) opacity(var(--opacity-filter));
    filter: brightness(var(--brightness)) saturate(var(--saturate)) hue-rotate(var(--hue)) grayscale(0%)  opacity(var(--opacity-filter));
    -webkit-transition: -webkit-filter 500ms linear,  opacity 100ms linear;
    transition: filter 500ms linear, opacity 100ms linear;

    opacity: var(--opacity);
}
