
#root {
    display: flex;
    position: static;
    width: 100%;
    height: 100%;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.Game {
    width: 800px;
    height: 600px;
    background: #09092b;
}
