
#root {
    display: flex;
    position: static;
    width: 100%;
    height: 100%;
    align-content: center;
    align-items: center;
    justify-content: center;

}

.bg {
    width: 100%;
    height: 100%;
    position: absolute;
}

:root {
    --darkness-start: 10%;
    --darkness-end: 80%;
    --darkness-opacity: 100%;
}

.bg.light {
    background: radial-gradient(ellipse, rgba(210, 163, 69, 0) 0%, rgb(210, 163, 69) 50%, rgba(210, 163, 69, 0) 60%, rgba(210, 163, 69, 0) 100%);
    transition: filter 500ms linear, opacity 500ms ease-in-out;
    opacity: calc(var(--opacity) * .14);

    top: 0;
    left: 0;
    width: 98vw;
    height: 100vh;
    position: absolute;
}

.dark.bg {
    background: radial-gradient(rgba(#000, 0) var(--darkness-start), rgba(#000, 1) var(--darkness-end));
    opacity: var(--darkness-opacity);
    transition: background 2s;
}


.nightmare .light.bg {
    /*left: 41%;*/
    /*top: 10%;*/
    /*width: 50%;*/
    /*height: 47%;*/
    transition: opacity .1s ease-out;
    filter: opacity(.5);
    /*position: absolute;*/
}

.Game {
    position: relative;
    width: 100%;
    height: 100%;

}

.Game #lamp {
    opacity: 0;
    transform: scale(.5);
    top: 170px;
    transition: all 2s ease-out;
}

.Game.started #lamp {
    opacity: 100%;
    transform: scale(1);
    top: 71px;
}

.about{
    position: absolute;
    right: 54px;
    top: 14px;
    color: white;
    font-weight: bold;
    font-size: 12px;
    opacity: 40%;
    display: none;
}

@media (max-width: 650px) {
    .Game #lamp {
        transform: scale(.1);
        top: -10px;
        left: -140px;
        transition: all 2s ease-out;
    }

    .Game.started #lamp {
        opacity: 100%;
        transform: scale(0.5);
        top: -10px;
    }

    .Buttons {
        height: 200px;
        justify-content: start;
        overflow: scroll;
        padding-top: 10px;
        width: 1000px;
        overflow-x: scroll;
    }

    .welcome-btn {
        font-size: 9px !important;
        width: 90% !important;
        background: rgba(#000, .8) !important;
        bottom: 5px !important
    }

    .doors-container .door {
        width: 164px;
        height: 255px;
        left: calc(50% - 73px);
        top: calc(50% - 167px);

    }
}

.start-btn {
    position: absolute;

    left: calc(50% - 200px);
    top: calc(50% - 148px);


}

.loading-btn {
    left: 25%;
    top: 0;
}


.mute {
    filter: invert(100%);
    opacity: 40%;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: all .5s;
}

.mute.true {
    opacity: 90%;
}

.mute:hover {
    opacity: 90%;

}
