@keyframes slideInFromBottom {
    0% {
        transform: translateY(20%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.debug {
    flex-direction: row;
    width: 100%;
    position: absolute;
    display: flex;
    bottom: 200px;
    justify-content: center;
}

.Buttons {
    animation: 1s ease-out 0s 1 slideInFromBottom;
    opacity: 0;
    animation-delay: 2s;
    animation-fill-mode: forwards;

    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 200px;
    background: linear-gradient(transparent 10%, #1f1e1e);
    display: flex;
    justify-content: space-around;
    align-items: center;


}


.score {
    position: relative;
    top: 10px;
    left: 13px;
    color: white;
    font-size: 20px;
}

@-webkit-keyframes stripe-slide {
    0% {
        background-position: 0% 0;
    }
    100% {
        background-position: 100% 0;
    }
}
@keyframes stripe-slide {
    0% {
        background-position: 0% 0;
    }
    100% {
        background-position: 100% 0;
    }
}

.btn {
    overflow: visible;
    margin: 0;
    padding: 0;
    border: 0;
    background: transparent;
    font: inherit;
    cursor: pointer;
    -moz-user-select: text;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    padding: 16px 36px 22px;
    /*background-color: #fff;*/
    color: white;
    border: 2px solid white;
    border-radius: 20px;
    margin-bottom: 16px;
    transition: all 0.5s ease;
    font-weight: bold;
    opacity: .8;
    letter-spacing: 1px;
    line-height: 1.4;
    font-size: 14px;
    max-width: 200px;
    white-space: break-spaces;
    text-align: center;
}

.gameover .btn {
    max-width: 400px;
}


.btn--stripe {
    overflow: hidden;
    position: relative;
}
.btn--stripe:after {
    content: "";
    display: block;
    height: 7px;
    width: 100%;
    background-image: repeating-linear-gradient(45deg, white, white 1px, transparent 2px, transparent 5px);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-top: 1px solid white;
    position: absolute;
    left: 0;
    bottom: 0;
    background-size: 7px 7px;
}
.btn--stripe:hover {
    background-color: rgba(255,255,255, .2);
    color: #fff;
    /*border-color: #000;*/
}
.btn--stripe:hover:after {
    background-image: repeating-linear-gradient(45deg, #fff, #fff 1px, transparent 2px, transparent 5px);
    border-top: 1px solid white;
    -webkit-animation: stripe-slide 12s infinite linear forwards;
    animation: stripe-slide 12s infinite linear forwards;
}

.btn--radius {
    border-radius: 36px;
}
