
#lamp{
    position: absolute;
    width: 600px;
    height: 600px;
    top: 71px;
    left: 25%;
}
.img {
    width: 100%;
    position: absolute;
    transition: all 1s;
}

:root {
    --brightness: 100%;
    --saturate: 100%;
    --hue: 0;
    --opacity: 1;
    --opacity-filter: 100%;
    --visibility: visible;
}

.light {
    filter: brightness(var(--brightness)) saturate(var(--saturate)) hue-rotate(var(--hue)) grayscale(0%)  opacity(var(--opacity-filter));
    transition: filter 500ms linear, opacity .5s linear, visibility 2s linear;
    opacity: var(--opacity);
    /*visibility: var(--visibility);*/
}

.nightmare .light {
    transition: filter 500ms linear, opacity 0s linear, visibility 2s linear;
}
.lamp-container {
    transition: all 1s ease-in-out;

}
